<!-- include header -->
<%- include('./include/header.ejs') %>
    <!-- include header -->

    <div class="row justify-content-center">
        <div class="container col-10 col-md-8 col-lg-6 text-center">
            <div class="card">
                <% if(errCode){ %>
                    <h1 class="display-1 text-danger">
                        <%= errCode %>
                    </h1>
                    <% } %>
                        <h4>
                            <%= err.message %>
                        </h4>
            </div>
        </div>
    </div>

    <!-- include footer -->
    <%- include('./include/footer.ejs') %>
        <!-- include footer -->