.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  :root{
    --h:60px;
  }

  .mapp{
    width: auto;
    height: var(--h);
  }

  #map{
    border-radius: 7px;
  }


