<!-- include header -->
<%- include('../include/header.ejs') %>
    <!-- include header -->

    <div class="row justify-content-center mx-2 mx-sm-0">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
            <h1 class="text-center">New Campground</h1>
            <form action="/campgrounds/new" method="POST" enctype="multipart/form-data" id="add_campground" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please insert a titile
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please insert the Location
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">State</label>
                    <input class="form-control" type="text" id="location" name="campground[state]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please insert the state
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Image/Images</label>
                    <input type="file" class="form-control" id="image" name="campground[img]" multiple required>
                    <small class="text-danger">You can only insert 5 Images to you profile  </small>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="number" class="form-control" id="price" placeholder="0.00" aria-label="price"
                            aria-describedby="price-label" name="campground[price]" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please insert a price
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]"
                        required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please insert a description
                    </div>
                </div>

                <div class="mb-3">
                    <button class="btn btn-success">Add Campground</button>
                </div>

            </form>
            <a href="/campgrounds">All Campgrounds</a>
        </div>
    </div>

    <!-- include footer -->
    <%- include('../include/footer.ejs') %>
        <!-- include footer -->